name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, repositories
          plugin_code: yes
          plugin_code_languages: javascript, typescript
          plugin_code_load: 400
          filename: metrics.plugin.music.playlist.spotify.svg
          plugin_music: yes
          plugin_music_token: ${{secrets.SPOTIFY_SECRET}}
          plugin_music_playlist: https://open.spotify.com/embed/playlist/6LGAHZSR5hd1kdPUfulveN
          plugin_music_played_at: yes
          
